{% extends "base.html" %}
{% block content %}
<h2>Search Documents</h2>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<form id="search-form">
    <input type="text" id="search-query" placeholder="Enter your search query">
    <button type="submit">Search</button>
</form>
<div id="search-results"></div>
<script>
    $(document).ready(function() {
        $('#search-form').submit(function(event) {
            event.preventDefault();
            var query = $('#search-query').val();
            $.ajax({
                type: 'GET',
                url: '/search_index?query=' + query,
                success: function(data) {
                    displaySearchResults(data);
                },
                error: function(error) {
                    $('#search-results').html("An error occurred.");
                }
            });
        });

        function displaySearchResults(data) {
            var results = data.documents;
            var resultsHtml = '<h3>Search Results</h3>';

            if (results.length > 0) {
                resultsHtml += '<ul>';
                results.forEach(function(result) {
                    resultsHtml += '<li>';
                    resultsHtml += 'ID: ' + result.id + '<br>';
                    resultsHtml += 'Name: ' + result.name + '<br>';
                    resultsHtml += 'Nationality: ' + result.nationality + '<br>';
                    resultsHtml += 'City: ' + result.city + '<br>';
                    resultsHtml += 'Gender: ' + result.gender + '<br>';
                    resultsHtml += 'Age: ' + result.age + '<br>';
                    resultsHtml += '</li>';
                });
                resultsHtml += '</ul>';
            } else {
                resultsHtml += '<p>No results found.</p>';
            }

            $('#search-results').html(resultsHtml);
        }
    });
</script>
{% endblock %}
