{% extends "base.html" %}
{% block content %}
<h2>Create Document</h2>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<form id="document-upload-form" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Upload and Index</button>
</form>
<div id="response"></div>
<script>
    $(document).ready(function() {
        $('#document-upload-form').submit(function(event) {
            event.preventDefault();
            var formData = new FormData($(this)[0]);
            $.ajax({
                type: 'POST',
                url: '/index_documents',
                data: formData,
                contentType: false,
                processData: false,
                success: function(data) {
                    $('#response').text(data.message);
                },
                error: function(error) {
                    $('#response').text("An error occurred.");
                }
            });
        });
    });
</script>
{% endblock %}
