{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Search Documents</h2>
    </div>
    <div class="card-body">
        <form id="search-form" class="form-inline">
            <div class="form-group mb-2">
                <input type="text" id="search-query" class="form-control" placeholder="Enter your search query">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
        <div id="search-results" class="mt-3"></div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#search-form').submit(function(event) {
            event.preventDefault();
            var query = $('#search-query').val();
            $.ajax({
                type: 'GET',
                url: '/search_index?query=' + query,
                success: function(data) {
                    displaySearchResults(data);
                },
                error: function(error) {
                    $('#search-results').html("An error occurred.").addClass('alert alert-danger');
                }
            });
        });

        function displaySearchResults(data) {
            var results = data.documents;
            var resultsHtml = '<h3>Search Results</h3>';

            if (results.length > 0) {
                resultsHtml += '<table class="table table-bordered"><thead><tr><th>ID</th><th>Name</th><th>Nationality</th><th>City</th><th>Gender</th><th>Age</th></tr></thead><tbody>';
                results.forEach(function(result) {
                    resultsHtml += '<tr>';
                    resultsHtml += '<td>' + result.id + '</td>';
                    resultsHtml += '<td>' + result.name + '</td>';
                    resultsHtml += '<td>' + result.nationality + '</td>';
                    resultsHtml += '<td>' + result.city + '</td>';
                    resultsHtml += '<td>' + result.gender + '</td>';
                    resultsHtml += '<td>' + result.age + '</td>';
                    resultsHtml += '</tr>';
                });
                resultsHtml += '</tbody></table>';
            } else {
                resultsHtml += '<p>No results found.</p>';
            }

            $('#search-results').html(resultsHtml);
        }
    });
</script>
{% endblock %}
